body {
    background-image: url(./assets/catBackground-3.jpg);
    background-position: fixed; 
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
    color: #DFD0CC;
    background-repeat: repeat;
}

nav, div {
    background: rgba(116, 64, 64, 93%);
    border-radius: 1.5em;
}

.nav {
    position: fixed;
    float: left;
    height: 20vw;
    width: 15vw;
    text-align: center;
    border: 5px solid rgb(91, 51, 51);
}

#icon {
    width: 100px; 
    height: 100px;
    max-width: 75%;
    max-height: 75%;
    border-radius: 4em;
    margin: auto;
    border: 5px solid rgb(91, 51, 51);
}

nav li {
    list-style: none;
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
    margin-left: -45px;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: #DFD0CC;
}

a:hover {
    color: #a58383;
}

h4 {
    font-style: normal;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 300;
    margin-top: 20px;
}


.blogPost {
    margin: auto;
    width: 40vw;
    height: 50vw;
    border: 5px solid rgb(91, 51, 51);
}

h3 {
    font-style: normal;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.catpic {
    text-align: center;
    width: 25rem;
    height: 25rem;
    margin-right: 6.5rem;
    margin-left: 6.5rem;
    border: 5px solid rgb(91, 51, 51);
    border-radius: 1em;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: .5rem;
    margin-bottom: 0px;
}

.writeComment {
    margin-left: 2rem;
    height: 5%;
    width: 70%;
    margin-top: 0px;
    background-color: rgb(91, 51, 51);
    border: none;
    font-family: 'Roboto Mono', monospace;
    color: #DFD0CC;
    border-radius: .5em;
}

.postComment {
    margin-right: 2rem;
    height: 5%;
    width: 15%;
    font-family: 'Roboto Mono', monospace;
    border-radius: .5em;
    border: none;
    color: rgb(91, 51, 51);
    background-color: #DFD0CC;
}

.postComment:hover {
    cursor: pointer;
    background-color: #a58383;
    color: rgb(91, 51, 51);
}

#blogPost2 {
    height: 46vw;
}